# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
.Rproj.user

# Plots
smc_het_eval/scoring_metric_data/metric_behaviour_plots/**
smc_het_eval/scoring_metric_data/sim_plots/**

# Text files for metric behaviour other than the scenrio rankings 
# done by different collaborators
smc_het_eval/scoring_metric_data/text_files/**
!smc_het_eval/scoring_metric_data/text_files/scenario_rankings.csv
